center 
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
body
    {
        font-family: 'Times';
        font-size: 16px;
        line-height: 1.5;
    }
h2
    {
        text-align: center;
        margin-left: 10px;  
        margin-right: 10px;  
        margin-top: 10px;
        border: 6px groove;
        background-color: #E1C16E;
        font-size: 40px;
        text-transform: uppercase;
        padding: 10px;
    }
h3
    {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background-color: #fdcfb3;
    }
h4
    {
        font-size: 18px;
        font-weight: bold;
    }
caption
    {
        color: black;
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
        text-align: center;
    }
